<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Client</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="templates/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="templates/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="templates/assets/css/form-elements.css">
        <link rel="stylesheet" href="templates/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="templates/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="templates/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="templates/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="templates/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="templates/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>
        {% block content %}
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container"> 
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Client Details</strong></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Edit Client Details:</h3>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="/subclient?prid={{pr_id}}" method="post" class="login-form">
                                    <div class="form-group">
                                        <label for="name">Project Name</label>
                                        <input type="text" name="p_name" placeholder="Project Name" class="form-username form-control" value="{{p_name}}">
                                    </div>
			                    	<div class="form-group">
			                    		<label for="name">Style</label>
			                        	<input type="text" name="s_name" placeholder="Style" class="form-username form-control" value="{{s_name}}">
			                        </div>
                                    <div class="form-group">
                                        <label for="name">Client Name</label>
                                        <input type="text" name="c_name" placeholder="Client Name" class="form-username form-control" value="{{c_name}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Apartment Name</label>
                                        <input type="text" name="a_name" placeholder="Apartment Name" class="form-username form-control" value="{{a_name}}">
                                    </div>
			                        <button type="submit" class="btn">Edit</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="templates/assets/js/jquery-1.11.1.min.js"></script>
        <script src="templates/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="templates/assets/js/jquery.backstretch.min.js"></script>
        <script src="templates/assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
    {% endblock %}
    </body>

</html>