<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Item</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="templates/assets/gallery-clean.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
    function myfunction() {
        var typename={{typename|safe}};
        var catname={{catname|safe}}
        $('#tags').autocomplete({
            source: typename,
            minLength: 0,
            scroll: true
        }).focus(function() {
            $(this).autocomplete("search", "");
        });

        $('#category').autocomplete({
            source: catname,
            minLength: 0,
            scroll: true
        }).focus(function() {
            $(this).autocomplete("search", "");
        });
        $('#ui-id-1').click(function(){
            //alert("clicked");
            $("#filterform").submit();
        });
        $('#ui-id-2').click(function(){
            //alert("clicked");
            $("#filterform").submit();
        });
    }
  </script>
</head>
<body onload="myfunction()">
<div class="container gallery-container">
    <h1>Items</h1>
    <div>
    <form name="filter" id="filterform" method="post" action="filter">
        <label for="tags" style="color: white;">Item Type: </label>
        <input type="text" id="tags" name="item" value="{{itemname}}" autocomplete="on" /><br /><br />
        <label for="category" style="color: white;">Category: </label>
        <input type="text" id="category" name="cat" value="{{catname1}}" autocomplete="on" />
    </form>
    

    <div style="float: right;">
    <form action="/searchres" method="post">
    <label style="color: white;"> Search: </label>
    <input type="text" name="search">
    <button type="submit" class="btn">Go</button>
    </form>
    </div>
    </div>
    <div class="tz-gallery">

        <div class="row">
        {% if item %}
        {% for i in item %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="/itemdetails?id={{i['idcat']}}&userid={{userid}}">
                        <img src="{{i['url']}}" style="width: 300px;height: 300px;">
                    </a>

                    <div class="caption">
                    <p>
                        <h3>Name : {{i['itemname']}}</h3>
                        Type : {{i['itemtypename']}}<br />
                        Category : {{i['catname']}}<br />
                    </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>