<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Presentation</title>
<style type="text/css">
    table {
        border-collapse: collapse;
    }
    table, th, td {
        border :1px solid black;
    }
</style>
</head>
<body>
<button onclick="exportAll('xls');" href="javascript://">Export Table To Excel File</button><br/>
<br/>
<br/>
<table class="table" style="width: 50%;">
	<tr>
		<th colspan="2" style="font-size: 24px;"><b>Estimate</b></th>
        <th><img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAncAAAAJDhlNzY3NWYxLTI0OTQtNDk4ZC1iNGIwLThiN2RiZDMxMjFkNg.png" style="height:60px; width:80px; padding-top: 20px;" /></th>
	</tr>
    {% if total_cost %}
	{% for i in total_cost['price'] %}
		<tr>
            <td><b>Category ({{i['CategoryName']}})</b></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>Product Code</b></td>
            <td><b>Item</b></td>
            <td><b>Price</b></td>
        </tr>
        <tr>
            <td>{{i['idCatalog']}}</td>
            <td>{{i['ItemName']}}</td>
            <td>{{i['Quotation(Exc Taxes)']}}</td>
        </tr>
        <tr></tr>
    {% endfor %}
    {% endif %}

{% if cat_cost %}
{% for j in cat_cost %}  
<tr style="background:  yellow;">
    <td><b>Category Total for {{j['cat_name']}}</b></td>
    <td>{{j['cost']}}</td>
    <td></td>
</tr>
{% endfor %}
{% endif %}

<tr style="background: orange;">
    <td><b>Grand Total</b></td>
    <td><b>{{total_cost['sum_val']}}</b></td>
    <td></td>
</tr>
<tr>
    <td rowspan="3" colspan="3">
        Note: <br/>
        All prices Exclusive of GST;to changed on actuals based on prevailing Govt rules. <br/>
        Payment schedule: 10% for ordering, 50% at production, 40% when ready for installation.
    </td>
</tr>
</table>
<script type="text/javascript">
	/*function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
	}


	function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}*/
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="templates/rejs/js/tableExport.js"></script>
<script src="templates/rejs/js/main.js"></script>
</body>
</html>